/* 
.first{
    background-color: rebeccapurple;
    width: 100%;
    height: 300px;
}

.secound{  
    background-color: aquamarine;
    width: 100%;
    height: 300px;
}
.pr{
    width: 100%;
    height: 300px;
    background-image: url("img/parallux-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}


.error{
    border: solid 1px red;
    transition:  1s;
} */

/* div{
    position: relative;
    background-color: red;
    width: 100px;
    height: 100px;
    margin: auto;
    display: none;
}

 */
/* 
 .conr{
     width: 200px;
     height: 200px;
     overflow: auto;
     margin: auto;
 }



 

#start{
    height: 200px;
    width: 100px;
    background-color:;
  } */

/* div{
    width: 100%;
}
  .first{
      height: 300px;
      background-color: aqua
  }

  .mm{
    height: 400px;
    background-color: bisque;
      }

      .tt{
          height: 500px;
          background-color: brown;
      } */


/* 
      .bg{
          background-color: bisque;
          color: white;
          width: 100%;
          height: 100px;
      }


      .item{
          width: 50px;
          height: 70px;
          background-color: blueviolet;
          position: absolute;
          bottom: 10px;
          left: 20px;
          border-radius: 20px;
          cursor: pointer;
          transition: 1s all;
      }


      .itemc{
        width: 50px;
        height: 350px;
        background-color: blueviolet;
        position: absolute;
        bottom: 10px;
        left: 20px;
        border-radius: 20px;
    
    } */

    
*{
    scroll-behavior: smooth;
}
section{
    height: 700px;
}

.green{
    background: url('https://wallpaperaccess.com//full/251624.jpg');
    -webkit-background-size: cover
}

.blue{
    background: url('https://wallpaperaccess.com//full/193864.jpg');
    -webkit-background-size: cover
}


.red{
    background: url('https://wallpaperaccess.com//full/251628.jpg');
    -webkit-background-size: cover
}

.bl{
    background-color: blue;
}
.gr{
    background-color: green;
}
.rd{
    background-color: red;
}
.navcustom{
    width: 100%;
    height: 100px;
    background-color: grey;
    position: fixed;
}

.navcustom ul li {
    float: left;
    list-style: none;
    padding: 40px;
}


.navcustom ul li a {
    text-decoration: none;
    color: white;
}


.navcustom ul li .active{
    text-decoration: none;
    color: red;
}

/* Start PP */ 

.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #000;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }

.loader{
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: fixed;
      top: 0px;
      left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 22;
  }
  /* End PP */ 

  /* START SCroll */    
  ::-webkit-scrollbar{
    width: 10px;
    }
    ::-webkit-scrollbar-track{
        background-color: antiquewhite
    }

    ::-webkit-scrollbar-thumb{
        background-color: grey;
        border-radius: 40px;
    }
  /* end SCroll */



